<div class="container pad-top">
  <a ui-sref="newShipwreck" class="btn-primary btn-lg nodecoration">Add New Shipwreck</a>
  <table class="table shipwrecktable">
      <tr>
          <td><h3>All Workshops</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="shipwreck in shipwrecks">
          <td>{{workshop.name}}</td>
          <td>{{workshop.description}}</td>
          <td>{{workshop.year}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewWorkshop({id:workshop.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteWorkshop(workshop)">Delete</a>
          </td>
      </tr>
  </table>
</div>
